---
import CleanLayout from '../layouts/CleanLayout.astro';
import CleanNavbar from '../components/CleanNavbar';
import CleanFooter from '../components/CleanFooter';
import SignIn from "../components/signin"

---

<CleanLayout title="Sign In">
	<CleanNavbar client:load />
	<main>
    <SignIn client:only="react" />
  </main>
	<CleanFooter />
</CleanLayout>
