---
import CleanLayout from '../layouts/CleanLayout.astro';
import CleanNavbar from '../components/CleanNavbar';
import CleanFooter from '../components/CleanFooter';
import SignUp from "../components/signup"

---

<CleanLayout title="Sign Up">
	<CleanNavbar client:load />
	<main>
    <SignUp client:only="react" />
  </main>
	<CleanFooter />
</CleanLayout>
